.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    background-color: white;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    height: 40px;
    margin-right: 10px;
  }
  
  .logo-text {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #333;
  }
  
  .nav-links {
    display: flex;
    gap: 40px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #612999;
    font-weight: 400;
  }
  
  .nav-links a.home-link {
    font-weight: bold;
  }
  